<%= link_to cocktail_path(cocktail) do %>
  <div class="cocktail-card" style="background-image: url('http://icons.iconarchive.com/icons/iconsmind/outline/512/Cocktail-icon.png');">
    <h3 class="cocktail-card-name"><%= cocktail.name %></h3>
    <p class="cocktail-card-ingredients"><%= cocktail.ingredients.name %></p>
  </div>
<% end %>
