<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-beer"></i></a>
    <a href="#"><i class="fa fa-glass"></i></a>
    <a href="#"><i class="fa fa-bars"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-beer"></i> at Le Wagon
  </div>
</div>
